$brand-primary:#99428e;
$brand-primary-rgb:rgb(153,66,142);
$brand-primary-rgb-10:rgba(153,66,142,.10);
$brand-primary-rgb-20:rgba(153,66,142,.20);
$brand-primary-rgb-20:rgba(153,66,142,.20);
$brand-primary-rgb-30:rgba(153,66,142,.30);
$brand-primary-rgb-40:rgba(153,66,142,.40);
$brand-primary-rgb-50:rgba(153,66,142,.50);
$brand-primary-rgb-60:rgba(153,66,142,.60);
$brand-primary-rgb-70:rgba(153,66,142,.70);
$brand-primary-rgb-80:rgba(153,66,142,.80);
$brand-primary-rgb-90:rgba(153,66,142,.90);
$brand-primary-darker:#84387a;
$brand-primary-darkest:#6d2c65;
